:root{
    --primary-color:rgb(56, 135, 200);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    outline: none;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 50px;
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}

